@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(193, 174, 212);
}

*{
    box-sizing: border-box;
}

header{
    font-family: "Raleway", sans-serif;
    text-align: center;
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-size: 1500px auto;
    background-repeat: no-repeat;
    color:cornsilk;
    padding: 10px;
}

#ro{
    font-size: 20px;
}
#re{
    text-decoration: underline;
}
#ri{
    font-size: 30px;
}
#ru{
    color: cornsilk;
}
#la{
    width: 70%;
    display: block;
    margin: auto;
    text-align: justify;
}
#li{
    width: 400px;
    height: 50px;
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: cornsilk;
    text-align: center;
    background-image:linear-gradient(rgb(71, 0, 152), rgb(198, 166, 224));
    animation-name: animacion;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes animacion {
    from {transform: translateX(1020px);}
    to{transform: translateX(0px);}
}

header a{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: cornsilk;
    text-transform: uppercase;
    background-color: cornsilk;
    color: rgb(50, 5, 91);
    border: 3px  rgb(255, 255, 255);
    width: 120px;
    border-radius: 5%;
    display: block;
    margin: 10px auto;
    line-height: 30px;
    padding: 3px;
    transition: all 2s;
}

header a:hover{
    background-color:rgb(50, 5, 91);
    color:cornsilk;
    border: 3px  rgb(50, 5, 91);
}

main{
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2px;
  
}

div{
    width: 33%;
    transition:all 3s 2s
}
div:hover{
    filter: invert(100%);
}

img {
    width: 100%
}
#video{
    width: 100%;
  
}

#video video {
    width: 100%;
    height: auto;
    display: block;
}
#le{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background-image: url(../imagenes/fondo.jpg);
    background-size: 1500px auto;
    background-repeat: no-repeat;
    color:cornsilk;
    padding: 10px;
}
